<div id="footer">
	<div id="footerLine" class="line"> </div>
	<label id="footerAdresse">Anja Jorr&eacute; fotografiert - Pezolddamm 21 - 22175 Hamburg</label>
	<label id="footerInternet">www.anja-jorre-fotografiert.de</label>
	<label id="footerKontakt">Telefon 040 / 657 18 73 - E-Mail anja@anja-jorre-fotografiert.de</label>
	<label id="footerBank">Deutsche Kreditbank AG - IBAN: DE31 1203 0000 1018 5666 02 - BIC: BYLADEM1001</label>
	<label id="footerSteuernummer">Steuernummer: 50/109/01555</label>
</div>